*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #8B93FF;
    color: white;
    font-family: "Roboto Mono", monospace;
}

form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, 
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button{
    color: #007F73;
    background: #FF9800;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #007F73;
    color: #FF9800;
}
.todo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
     min-width: 40%;
    list-style: none;
    
}
.todo {
    margin: 0.5rem;
    background: white;
    color:black;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    
}

.todo li{
    flex: 1;
}
.trash-btn, 
.complete-btn{
    color: #FF9800;
    background: #FF9800;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
}
.complete-btn{
    background: #007F73;
}
.fa-trash,
.fa-check{
    pointer-events: none; 
}
.completed{
    text-decoration: line-through;
    opacity: 1;
    
    
}
.fall{ 
    transform: skewY(20deg);
    opacity: 0;
}

.container-time{
    color: #320faf;
    font-weight: bolder;
    display: block;
    position: relative;
    left:40%;
    

}

